body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(177, 177, 177); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e4e4e4; 
}