body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@600&display=swap'); */

@font-face {
  font-family: 'Abel';
  src: url('./fonts/Abel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/Comfortaa-VariableFont_wght.ttf');
}